.categorie-box {
    width: 22rem;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.categorie-box-svg {
    position: absolute;
}