.giftbox {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.giftbox-content {
	/* width: 31rem;
	height: 22rem; */
	padding: 4rem;
	background: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	text-align: center;
}

.giftbox-title {
	font-family: "iranyekan black";
	font-size: 2rem;
}
.giftbox-text {
	font-family: "iranyekan bold";
}

.giftbox-arrow {
	position: absolute;
	left: -2rem;
	top: 50%;
	bottom: 50%;
	margin: auto;
	border: 0.1rem dashed var(--primary);
	border-radius: 1.5rem;
	cursor: pointer;
	transition: all 200ms ease;
	backdrop-filter: blur(1rem);
	z-index: 5;
}
.giftbox-arrow:hover {
	background: var(--primary);
}
.giftbox-arrow:hover path {
	fill: #fff;
}

.giftbox-shadow {
	position: absolute;
	bottom: 5rem;

	z-index: 5;
}
