.header {
    background: url(../../../public/imgs/BG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100rem;
    margin-top: -10rem;
    position: relative;
}
.header-wrapper {
}
.header_cloud-wrapper {
    position: absolute;
    z-index: -1;
}

.header_cloud-wrapper svg {
    width: 40rem;
    filter: blur(0.8rem);
}
.header_cloud-left {
    left: 0;
    top: 35rem;
}
.header_cloud-right-up {
    right: 0;
    top: 20rem;
    
}
.header_cloud-right-down {
    right: 8rem;
    top: 60rem;

}
