.swiper-pagination {
	position: relative !important;
	margin-top: 3rem !important;
	right: 0;
}

.swiper-pagination-bullet {
	border: 0.3rem solid #8f8f8f !important;
	opacity: 1 !important;
	background: none !important;
	width: 1.2rem !important;
	height: 1.2rem !important;
}

.swiper-pagination-bullet-active {
	border: 0.3rem solid #c83a81 !important;
}


@media screen and (min-width: 992px) {
	.swiper-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4rem;
	}
	.swiper-slide {
		margin-left: 0 !important;
	}
}
